---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          {{ post.title }}
          <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->
        </h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
          {% for story in post.categories %}
          (Story: <a href="{{ site.baseurl | append: "/story/" | append: story }}">{{ story }}</a>)
          {% endfor %}
        </span>
        <div class="page-content">
          <div class="wrapper">
            {{ post.content }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
